torch
torchvision
datasets
transformers
tokenizers
torchtext
matplotlib
scipy
tensorboard
psutil
scikit-learn
wandb
geoopt
biopython
h5py
viennarna
gffutils
av
torchmetrics
imageio-ffmpeg
imageio
lpips