torch
torchvision
datasets
transformers
tokenizers
torchtext
matplotlib
scipy
tensorboard
psutil
scikit-learn
wandb
imageio
imageio[pyav]
imageio[ffmpeg]
lpips
torchmetrics
torch-dct
librosa
soundfile